.example-spacer {
    flex: 1 1 auto;
}
.example-card {
    margin-top: 20px;

}

::ng-deep.mat-card-header-text {
    margin: 0 !important;
}

::ng-deep.mat-grid-tile-content {
    width: 100%;
}

.details {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    width: 70%;
}

@media (max-width: 768px) {
    .wrapper {
        width: 95%;
    }

}